{% extends 'menu.html'%}

{% block title %}Loguearte{% endblock %}

{% block content %}
    <h3 style="text-align:center;" >Cambiar Contraseña</h3>
    <div class="card" style=" margin: 20px 410px 20px;">
        <p></p>
        hola1
        {% if form %}
            <form action="" method="POST">
                hola2
                {% csrf_token %}
                <table>
                    {{form.as_table}}
                </table>
                <p></p>
                <input type="submit" value="Grabar">
            </form>
        {% endif %}
        {% if errors %}
            <p></p>
            <p style="color: crimson;">{{errors}}</p>
        {% endif %}
    </div>
{% endblock %}