{% extends 'menu.html'%}

{% block title %}Loguearte{% endblock %}

{% block content %}
    <h3 style="text-align:center;" >Registrar Usuario</h3>
    <div class="card" style=" margin: 20px 400px 20px;"><br/>
    {% if form %}
        <form action="" method="POST">
            {% csrf_token %}
            <table>
                <tr>
                    <td rowspan="3" width="200px" style="text-align: center;"><br/><img src="/Media/login.jpg" width="150px" height="100px"></td>
                    <td><br/><b>Usuario:</b></td>
                    <td><br/><b>{{form.username}}</b></td>
                </tr>
                <tr>
                    <td><b>Contraseña:</b></td>
                    <td><b>{{form.password1}}</b></td>
                </tr>
                <tr>
                    <td><b>Repetir Contraseña:</b></td>
                    <td><b>{{form.password2}}</b></td>
                </tr>
                <tr>
                    <td colspan="3"><br/>
                        <ul>
                            <li>Su contraseña no puede ser demasiado similar a su otra información personal.</li>
                            <li>Su contraseña debe contener al menos 8 caracteres.</li>
                            <li>Su contraseña no puede ser una contraseña de uso común.</li>
                            <li>Su contraseña no puede ser completamente numérica.</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align: right;"><input type="submit" value="Registrar"></td>
                </tr>
            </table>
        </form>
    {% endif %}
    {% if errors %}
    <hr/>
        <p style="color: crimson;">{{errors}}</p>
    {% endif %}
    </div>
{% endblock %}