{% extends 'menu.html' %}

{% block title %}Editar Perfil{% endblock %}

{% block content %}
<h2 style="text-align:center;" >Actualización de Datos</h2>
<div class="card" style=" margin: 20px 400px 20px;">
    {% if form %}
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <p></p>
        <input type="submit" value="Grabar">
    </form>
    {% endif %}
    {% if error %}
        <br/><p style="color: crimson;">{{error}}</p>
    {% endif %}
</div>
{% if form_errors %}
    <br/><p style="color: crimson;">{{form_errors}}</p>
{% endif %}
{% endblock %}