{% extends 'menu.html'%}

{% block title %}Lista de Peliculas{% endblock %}

{% block buscar %}
<form class="form-inline my-2 my-lg-0" action="/Movies/listMovies/" method="GET">
  <input class="form-control mr-sm-2" type="search" placeholder="Titulo de Pelicula" aria-label="Search" name="search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
</form>
{% endblock %}

{% block content %}
<h4>CATALOGO DE PELICULAS</h4>
{% for category in categories %}
<hr/>
  <p><b>{{category.name}}</b></p>
  <table>
    <tr >
      {% for movie in movies %}
        {%if category in movie.category.all%}
          <td style="width: 200px; text-align: center;">
            {%if movie.poster%}
              <img src="{{movie.poster.url}}" width="150px" height="200px" >
            {% endif %}<br/>
            {% if movie.active %}
              <p style="text-align: center; margin-bottom: -1%;"><b>{{movie.title}}</b></p>
            {% else %}
              <p style="text-align: center; margin-bottom: -1%; color: red;"><b>{{movie.title}}</b></p>
            {% endif %}
            {% if movie.score > 3 %}
              <p style="text-align: center; color:green;"><b>{{movie.score}}</b></p>
            {% elif movie.score == 3 %}  
              <p style="text-align: center; color:goldenrod;"><b>{{movie.score}}</b></p>
            {% elif movie.score < 3 %}     
              <p style="text-align: center; color:crimson;"><b>{{movie.score}}</b></p>
            {% else %}
              <p style="text-align: center; color: blue;"><b>No Hay Reseñas</b></p>
            {% endif %}
            {% if request.user.is_superuser %}
              <form method="GET" action="/Movies/updateMovie/{{movie.id}}/">
                <input class="btn btn-primary btn-sm" type="submit" value="Editar"/>
              </form>
            {% else %}
              <form method="GET" action="/Reviews/listReviews/{{movie.id}}/">
                <input class="btn btn-primary btn-sm" type="submit" value="Reseñas"/>
              </form>
            {% endif %}
          </td>
        {% endif %}
      {% endfor %}
    </tr>

  </table><br/>
{% endfor %}

{% endblock %}