{% extends 'menu.html'%}

{% block title %}Lista de Peliculas{% endblock %}

{% block buscar %}
<form class="form-inline my-2 my-lg-0" action="/Movies/listMoviesCategory/{{category_select.id}}" method="GET">
  <input class="form-control mr-sm-2" type="search" placeholder="Titulo de Pelicula" aria-label="Search" name="search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
</form>
{% endblock %}

{% block content %}
<h4>CATALOGO DE PELICULAS</h4>
  <p>{{category_select.name}}</p><hr/>
  <table  style="width: 200px; text-align: center;">
    <tr >
      {% for movie in movies %}
        {%if category_select == movie.category%}
          <td>
          {%if movie.poster%}
            <img src="{{movie.poster.url}}" width="150px" height="200px" >
          {% endif %}<br/>
          {% if movie.active %}
              <p style="margin-bottom: -1%; height: 45px;"><b>{{movie.title}}</b></p>
            {% else %}
              <p style="margin-bottom: -1%; height: 45px; color: red;"><b>{{movie.title}}</b></p>
            {% endif %}
            {% if movie.score > 3 %}
              <p style="color:green;"><b>{{movie.score}}</b></p>
            {% elif movie.score == 3 %}  
              <p style="color:goldenrod;"><b>{{movie.score}}</b></p>
            {% elif movie.score < 3 %}     
              <p style="color:crimson;"><b>{{movie.score}}</b></p>
            {% else %}
              <p style="color: blue;"><b>No Hay Reseñas</b></p>
            {% endif %}
          
            <table style="width: 200px; text-align: center;">
              <tr>
                <td style="text-align: center;">
                  <form method="GET" action="/Reviews/listReviews/{{movie.id}}/">
                    <input class="btn btn-primary btn-sm" type="submit" value="Reseñas"/>
                  </form>
                </td>
                <td style="text-align: center;">
                  {% if request.user.is_superuser %}
                    <form method="GET" action="/Movies/updateMovie/{{movie.id}}/">
                      <input class="btn btn-primary btn-sm" type="submit" value="Editar"/>
                    </form>
                  {% endif %}
                </td>
              </tr>
            </table>
          </td>
        {% endif %}
      {% endfor %}
    </tr>
  </table><br/>

{% endblock %}

