{% extends 'menu.html'%}

{% block title %}Lista de Peliculas{% endblock %}

{% block categories %}
{% if categories %}
    {% for category in categories%}
        <a class="dropdown-item" href="/Movies/listMoviesCategory/{{category.id}}/">{{category.name}}</a>
    {% endfor %}
{% endif %}
{% endblock %}

{% block buscar %}
<form class="form-inline my-2 my-lg-0" action="/Movies/listMovies/" method="GET">
  <input class="form-control mr-sm-2" type="search" placeholder="Titulo de Pelicula" aria-label="Search" name="search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
</form>
{% endblock %}

{% block content %}
<h4>CATALOGO DE PELICULAS</h4>
{% for category in categories %}

  <p>{{category.name}}</p><hr/>
  <table>
    <tr >
      {% for movie in movies %}
        {%if category in movie.category.all%}
          <td style="width: 200px; text-align: center;">
          {%if movie.poster%}
            <img src="{{movie.poster.url}}" width="150px" height="200px" >
          {% endif %}<br/>
          <p style="text-align: center; "><b>{{movie.title}}</b></p>
          <form method="GET" action="/Reviews/listReviews/{{movie.id}}/">
            <input class="btn btn-primary btn-sm" type="submit" value="Reseñas"/>
          </form>
          </td>
        {% endif %}
      {% endfor %}
    </tr>

  </table><br/>
{% endfor %}

{% endblock %}