{% extends 'menu.html'%}

{% block title %}Lista de Peliculas{% endblock %}

{% block categories %}
{% if categories %}
    {% for category in categories%}
        <a class="dropdown-item" href="#">{{category.name}}</a>
    {% endfor %}
{% endif %}
{% endblock %}

{% block content %}
<h2>Listado de Peliculas</h2>
    {% for movie in movies %}
        <div class="card mb-3" style="max-width: 740px;">
            <div class="row no-gutters">
              <div class="col-md-4" >
                {%if movie.poster%}
                  <img src="{{movie.poster.url}}" width="150px" height="200px" >
                {% endif %}
                </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{movie.title}}</h5>
                  <p class="card-text">{{movie.summary}}</p>
                  
                  <p>

                    <div class="form-group" style="max-width: 200px;">
                      <label for="exampleFormControlSelect1">Categorias:</label>
                      <select multiple class="form-control" id="exampleFormControlSelect1">
                        {% for category in categories%}
                        {%if category in movie.category.all%}
                          <option selected>{{category.name}}</option>
                          {%else%}
                          <option >{{category.name}}</option>
                          {% endif %}
                      {% endfor %}
                      </select>
                    </div>
                  </p>



                  {% if movie.active == True %}
                    <label><input type="checkbox" value="activo" checked> Activo</label>
                  {% else %}
                    <label><input type="checkbox" value="activo"> Activo</label>
                  {% endif %}
                  
                  <form method="GET" action="/Movies/updateMovie/{{movie.id}}/">
                    <input type="submit" value="Editar"/>
                  </form>
                </div>
              </div>
            </div>
          </div>
    {% endfor%}
{% endblock %}