<style>
    table{
        width: 1000px; 
    }
    .poster{
        width: 200px; 
        text-align: center;
    }
    .detalles{
        width: 650px; 
    }
    .score_good {
    color:green;
    text-align: center;
    width: 120px;
    }
    .score_regular {
    color:goldenrod;
    text-align: center;
    width: 120px;
    }
    .score_bad {
    color:crimson;
    text-align: center;
    width: 120px;
    }
    .score_img{
    border: 5px; 
    border-radius: 50%;
    }
</style>

{% extends 'menu.html'%}

{% block title %}Registrar Reseñas{% endblock %}

{% block content %}

{% if movie %}
<table align="center">
    <tr>
        {% if movie.poster %}
            <td class="poster" rowspan="7"> <img src="{{movie.poster.url}}" width="180px" height="250px" alt="POSTER"></td>
        {% else %}
            <td class="poster" rowspan="7"> <img width="150px" height="200px" alt="POSTER"></td>
        {% endif %}
    </tr>
    <tr>
        <td class="detalles"><h2>{{movie.title}}</h2></td>
        {% if movie.score >= 4 %}
            <td class="score_good" rowspan="7">
                <img src="/Media/bien.jpg"><h1>{{movie.score}}</h1>
            </td>
        {% elif movie.score >= 3 and movie.score < 4 %}  
            <td class="score_regular" rowspan="7">
                <img src="/Media/regular.jpg"><h1>{{movie.score}}</h1>
            </td>
        {% elif movie.score < 3 %}     
            <td class="score_bad" rowspan="7">
                <img src="/Media/mal.jpg"><h1>{{movie.score}}</h1>
            </td>
        {% else %}
            <td rowspan="7" style="text-align: center; color: blue;"><h3>No Hay Reseñas</h3></td>
        {% endif %}
    </tr>
    <tr><td class="detalles"><p style="text-align: justify;">{{movie.summary}}</p></td></tr>
    <tr><td class="detalles"><b>Director: </b>{{movie.director}}</td></tr>
    <tr><td class="detalles"><b>Duración: </b>{{movie.duration}} min.</td></tr>
    <tr><td class="detalles"><b>Categoria: </b>{{movie.category}}</td></tr>
    <tr><td class="detalles"><b>Fecha de Lanzamiento: </b>{{movie.release_date|date:"d/m/Y"}}</td></tr>
</table><br/>
{% endif %}

<table align="center">
    <tr><td>
    <form method="post">
    {% csrf_token %}

    <div  class="form-group">
      <label for="exampleFormControlTextarea1"><b>Ingresar Reseña:</b></label><br/>
      <textarea rows="3" cols="121" name="summary"></textarea>
    </div>
    <div class="form-check form-check-inline">
        <div><b>Ranking :</b></div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="score" id="inlineRadio1" value="1">
            <label class="form-check-label" for="inlineRadio1">1</label>
        </div> 
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="score" id="inlineRadio2" value="2">
            <label class="form-check-label" for="inlineRadio2">2</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="score" id="inlineRadio3" value="3">
            <label class="form-check-label" for="inlineRadio3">3</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="score" id="inlineRadio4" value="4">
            <label class="form-check-label" for="inlineRadio4">4</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="score" id="inlineRadio5" value="5">
            <label class="form-check-label" for="inlineRadio5">5</label>
        </div>
    </div>
    <input class="btn btn-primary btn-sm" type="submit" value="Grabar"/>
    </form><br/>
    </td></tr>
</table>
  <hr/>

{% endblock %}