{% extends 'menu.html'%}

{% block title %}Registrar Reseñas{% endblock %}

{% block categories %}
{% if categories %}
    {% for category in categories%}
    <a class="dropdown-item" href="/Movies/listMoviesCategory/{{category.id}}/">{{category.name}}</a>
    {% endfor %}
{% endif %}
{% endblock %}

{% block content %}

{% if movie %}
<table border="2" style="width: 970px;">
    <tr>
        {% if movie.poster %}
            <td rowspan="7" style="width: 200px; text-align: center;"> <img src="{{movie.poster.url}}" width="180px" height="250px" alt="POSTER"></td>
        {% else %}
            <td rowspan="7" style="width: 200px; text-align: center;"> <img width="150px" height="200px" alt="POSTER"></td>
        {% endif %}
    </tr>
    <tr>
        <td><h2>{{movie.title}}</h2></td>
        <td style="text-align: center;"><h4>Puntaje Promedio</h4></td>
    </tr>
    <tr>
        <td><p>{{movie.summary}}</p></td>
        {% if movie.score > 3 %}
            <td rowspan="6" style="text-align: center; color:green"><h1>{{movie.score}}</h1></td>
        {% elif movie.score == 3 %}  
            <td rowspan="6" style="text-align: center; color:goldenrod"><h1>{{movie.score}}</h1></td>
        {% elif movie.score < 3 %}     
            <td rowspan="6" style="text-align: center; color:crimson;"><h1>{{movie.score}}</h1></td>
        {% else %}
            <td rowspan="6" style="text-align: center; color: blue;"><h3>No Hay Reseñas</h3></td>
        {% endif %}
    </tr>
    <tr><td><b>Director: </b>{{movie.director}}</td></tr>
    <tr><td><b>Duración: </b>{{movie.duration}} min.</td></tr>
    <tr><td><b>Categorias: </b>
        {%for category_select in movie.category.all%}
           {{category_select}},
        {% endfor %}
    </td></tr>
    <tr><td><b>Fecha de Lanzamiento: </b>{{movie.release_date|date:"d/m/y"}}</td></tr>
</table><br/>
{% endif %}

{% if request.user.is_authenticated %}
<form class="form-inline my-2 my-lg-0" action="/Reviews/createReview/{{movie.id}}/" method="GET">
    <input class="btn btn-primary btn-sm" type="submit" value="Registrar Reseña"/>
</form>
{% else %}
    <p style="color: blue;"><b>DEBES LOGUEARTE PARA PODER REGISTRAR UNA RESEÑA</b></p>
{% endif %}
<hr/>

{% if message%}
    <p style="color: red;">{{message}}</p>
{% endif %}

<h4>Reseñas de los Usuarios</h4>
{% for review in reviews%}
    <table border="1" style="width: 850px; background-color:azure">
        <tr>
            <td style="text-align: center; width: 100px;"><h5>Puntaje</h5></td>
            <td rowspan="2" >{{review.summary}}</td>
        </tr>
        <tr>
            {% if review.score > 3 %}
                <td style="text-align: center; color:green"><h4>{{review.score}}</h4></td>
            {% elif review.score == 3 %}  
                <td style="text-align: center; color:goldenrod"><h4>{{review.score}}</h4></td>
            {% else %}     
                <td style="text-align: center; color:crimson;"><h4>{{review.score}}</h4></td>
            {% endif %}
        </tr>
    </table>
    <table style="width: 850px;">
        <tr>
            <td style="width: 80px;"> 
                {% if review.user.user.username == request.user.username %}
                <form action="/Reviews/updateReview/{{review.id}}/{{movie.id}}/" method="get">
                    <input class="btn btn-primary btn-sm" type="submit" value="Editar"/>
                </form>
                {%endif%}
            </td>
            <td>
                {% if review.user.user.username == request.user.username %}
                <form action="/Reviews/deleteReview/{{review.id}}/{{movie.id}}/" method="post">
                    {% csrf_token %}
                    <input class="btn btn-primary btn-sm" type="submit" value="Eliminar"/>
                </form>
                {%endif%}
            </td>
            <td style="text-align: right; width: 220px; color: crimson;">
                {{review.date|date:"d/m/y"}} | <b>{{review.user.user.username}}</b></td>
        </tr>
    </table><br/>

{% endfor %}

{% endblock %}